header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem;

   nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4rem;

      ul {
         display: flex;
         flex-direction: row;
         gap: 2rem;

         a {
            font-size: 1.125rem;
            padding: .5rem 0;

            &:hover {
               border-bottom: .25rem solid var(--yellow-500);
               border-radius: .125rem;
            }
         }
      }
   }

   .social-links {
      display: flex;
      align-items: center;
      margin: auto 0;
      gap: 2rem;

      a {
         font-size: 1.875rem;
         display: grid;
         place-items: center;
         transition: .2s;


         &:hover {
            color: var(--yellow-500);
         }
      }
   }
}

.activeLink {
   border-bottom: .25rem solid var(--yellow-500);
   border-radius: .125rem;
}